Plugins/
TextMesh Pro/
Fonts/
Sound/
*.meta
*.png~

!/[Aa]ssets/Plugins/FMOD/**/lib/*

!/[Aa]ssets/Gizmos/FMOD/*
!/[Aa]ssets/Editor Default Resources/FMOD/*
                    
/[Aa]ssets/Plugins/FMOD/Cache/*
                    
/[Aa]ssets/StreamingAssets/**/*.bank
/[Aa]ssets/StreamingAssets/**/*.bank.meta
                    
fmod_editor.log